 body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to bottom, #fff7e6, #ffd9b3);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      padding: 20px;
    }

    .card {
      background-color: rgb(247, 243, 243);
      padding: 25px;
      border-radius: 90px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      max-width: 400px;
      width: 90%;
    }

    .card img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    .message {
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 10px;
    }

    .highlight {
      color: #e67300;
      font-weight: bold;
    }

      @media (max-width: 500px){
      .mensagem h2 {
        font-size: 1.5rem;
      }

      .mensagem p {
        font-size: 0.95rem;
      }
    }
